@using VendorTracker.Models;

<h1>Here are all the orders for this Vendor</h1>

@if (Model["orders"].Count == 0)
{
  <p>No orders have been made for this vendor yet</p>
}
<ol>
@foreach (Order order in @Model["orders"])
{
  // this will navigate the user to the Show route of Orders, showing the details of the order
  
  <li><a href='/vendors/@Model["vendors"].Id/orders/@order.Id'>@order.Title</a></li>
}
</ol>

<a href='/vendors/@Model["vendors"].Id/orders/new'>Add a new Order for Vendor</a>