@{
  Layout = "_Layout";
}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome Pierre</h1>
    <p class="lead">What would you like to do?</p>
  </div>
</div>


<h2><a href="/vendors">View my Vendors</a></h2>
<h2><a href="/vendors/new">Create a new vendor</a></h2>