@{
  Layout = "_Layout";
}

<h1>Order Details</h1>

<h2>Title: @Model["order"].Title</h2>
<h2>Description: @Model["order"].Description</h2>

<h3>Vendor: @Model["vendors"].Name</h3>

<a href='/vendors/@Model["vendors"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>